html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #d6c8ff; /* 배경1 색상 */
  }
  
  .background-1 {
    background-color: #d6c8ff;
    min-height: 100vh;  /* 최소한 화면 전체 높이 확보 */
    position: relative;
    padding-bottom: 50px;
  }
  
  .background-2 {
    background-color: #f8f5ff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
  }

.container {
    display: flex;
    gap: 24px;
    min-height: 100%;
}

.left-wrapper, .right-wrapper {
    display: flex;
    flex-direction: column;
}
  
.left, .right {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    height: 100%; /* 부모 높이 따라감 */
}

.right {
    width: 720px;
    z-index: 1;
}

.users {
    text-align: center;
}

.divider {
    border: none;   /* 기본 테두리 제거 */
    border-top: 5px dotted #ccc;    /* 위쪽 테두리를 점선으로 설정 */
    width: 200px;
}

.top-message p {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.title {
    color: #50D8D8;
    font-weight: bold;
    font-size: 18px;
}

.right-wrapper {
    position: relative;
}